div.dash-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 83vw;
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
